In [30]:
#import libraries
import pandas as pd 

# 1. Read the python_data.csv

#read the file 
df = pd.read_csv('python_data.csv')

#drop the index column to avoid redudancy
df.drop(['index'], axis = 1, inplace = True)
df.head()

# 2. Analyse the data

#using info()
print(df.info())

#using describe()
print(df.describe(include = 'all'))

3. #Print out first 10 rows of the DOB and Age columns
print(df[['DOB', 'age']].head(10))

# 4. Sort the age column in ascending order by age
print(df.sort_values(by = 'age', ascending = True))

# 5. Group the men and women by their mean age and gender
print(df.groupby(['gender']).mean())

# 6. Create a filter that shows people below the age of 60, who are female (F) and are from Ghana (GH)
filter = (df['age']<60) & (df['gender']=='F') & (df['country']=='GH')
print(df[filter])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DOB      14 non-null     object
 1   age      14 non-null     int64
 2   gender   14 non-null     object
 3   country  14 non-null     object
dtypes: int64(1), object(3)
memory usage: 576.0+ bytes
None
               DOB        age gender country
count           14  14.000000     14      14
unique          14        NaN      2       8
top     1993-07-06        NaN      M      ZA
freq             1        NaN      8       5
mean           NaN  40.642857    NaN     NaN
std            NaN  14.280741    NaN     NaN
min            NaN  24.000000    NaN     NaN
25%            NaN  29.500000    NaN     NaN
50%            NaN  35.500000    NaN     NaN
75%            NaN  51.250000    NaN     NaN
max            NaN  69.000000    NaN     NaN
          DOB  age
0  1993-07-06   28
1  1997-06-01   24
2  1997-08-30   24
3  1963-06-14   58
4  1964-01-02   58
5  1952-06-20   69
6  1987-04-23   34
7  1987-09-22   34
8  1994-06-19   27
9  1972-09-17   49
           DOB  age gender country
1   1997-06-01   24      F      ZA
2   1997-08-30   24      F      LS
8   1994-06-19   27      M      GH
0   1993-07-06   28      F      ZA
6   1987-04-23   34      M      GH
7   1987-09-22   34      F      KE
13  1987-06-20   34      F      ZA
12  1984-06-28   37      M      UG
10  1980-05-21   41      M      ZA
9   1972-09-17   49      F      ZA
11  1969-02-15   52      M      NG
3   1963-06-14   58      M      BW
4   1964-01-02   58      M      EG
5   1952-06-20   69      M      GH
              age
gender
F       32.166667
M       47.000000
Empty DataFrame
Columns: [DOB, age, gender, country]
Index: []

In [14]:
df.head()

          DOB  age gender country
0  1993-07-06   28      F      ZA
1  1997-06-01   24      F      ZA
2  1997-08-30   24      F      LS
3  1963-06-14   58      M      BW
4  1964-01-02   58      M      EG

In [16]:
print(df[['DOB', 'age']].head(10))

          DOB  age
0  1993-07-06   28
1  1997-06-01   24
2  1997-08-30   24
3  1963-06-14   58
4  1964-01-02   58
5  1952-06-20   69
6  1987-04-23   34
7  1987-09-22   34
8  1994-06-19   27
9  1972-09-17   49

In [19]:
df[['DOB', 'age']].loc[0:10]

           DOB  age
0   1993-07-06   28
1   1997-06-01   24
2   1997-08-30   24
3   1963-06-14   58
4   1964-01-02   58
5   1952-06-20   69
6   1987-04-23   34
7   1987-09-22   34
8   1994-06-19   27
9   1972-09-17   49
10  1980-05-21   41

In [22]:
# 4. Sort the age column in ascending order by age

print(df.sort_values(by = 'age', ascending = True))

           DOB  age gender country
1   1997-06-01   24      F      ZA
2   1997-08-30   24      F      LS
8   1994-06-19   27      M      GH
0   1993-07-06   28      F      ZA
6   1987-04-23   34      M      GH
7   1987-09-22   34      F      KE
13  1987-06-20   34      F      ZA
12  1984-06-28   37      M      UG
10  1980-05-21   41      M      ZA
9   1972-09-17   49      F      ZA
11  1969-02-15   52      M      NG
3   1963-06-14   58      M      BW
4   1964-01-02   58      M      EG
5   1952-06-20   69      M      GH

In [27]:
# 5. Group the men and women by their mean age and gender
print(df.groupby(['gender']).mean())

              age
gender
F       32.166667
M       47.000000

In [28]:
# 6. Create a filter that shows people below the age of 60, who are female (F) and are from Ghana (GH)
filter = (df['age']<60) & (df['gender']=='F')&(df['country']=='GH')

print(df[filter])

Empty DataFrame
Columns: [DOB, age, gender, country]
Index: []

In [29]:
df.head()

          DOB  age gender country
0  1993-07-06   28      F      ZA
1  1997-06-01   24      F      ZA
2  1997-08-30   24      F      LS
3  1963-06-14   58      M      BW
4  1964-01-02   58      M      EG