<a href="https://colab.research.google.com/github/Mpumi97/Q-space/blob/main/Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bioinformatics - Drug Discovery Project

In [2]:
! pip install chembl_webresource_client

Collecting chembl_webresource_client
  Downloading chembl_webresource_client-0.10.7-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.9 MB/s
Requirement already satisfied: easydict in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (1.9)
Collecting requests-cache~=0.7.0
  Downloading requests_cache-0.7.5-py3-none-any.whl (39 kB)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (1.24.3)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.0.4)
Collecting pyyaml>=5.4
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 10.6 MB/s
Requirement already satisfied: attrs<22.0,>=21.2 in /usr/local/lib/python3.7/dist-packages (from requests-cache~=0.7.0->chembl_webresource_client) (21.4.0)
Collecting itsdangerous>=2.0.1
  Downloading itsdangerous-2.0.1-py3-none-any.whl (18 kB)
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from url-normalize<2.0,>=1.4->requests-cache~=0.7.0->chembl_webresource_client) (1.15.0)
Installing collected packages: url-normalize, pyyaml, itsdangerous, requests-cache, chembl-webresource-client
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:
      Successfully uninstalled itsdangerous-1.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires itsdangerous<2.0,>=0.24, but you have itsdangerous 2.0.1 which is incompatible.
Successfully installed chembl-webresource-client-0.10.7 itsdangerous-2.0.1 pyyaml-6.0 requests-cache-0.7.5 url-normalize-1.4.3

In [3]:
import pandas as pd
from chembl_webresource_client.new_client import new_client

### Search for Target protein

In [11]:
#Target protein for coronavirus

target = new_client.target
target_query = target.search('coronavirus')
targets = pd.DataFrame.from_dict(target_query)
targets

                                    cross_references  ...   tax_id
0                                                 []  ...    11119
1                                                 []  ...   227859
2                                                 []  ...    12663
3                                                 []  ...    11137
4  [{'xref_id': 'P0C6U8', 'xref_name': None, 'xre...  ...   227859
5                                                 []  ...  1335626
6  [{'xref_id': 'P0C6X7', 'xref_name': None, 'xre...  ...   227859
7                                                 []  ...  2697049

[8 rows x 9 columns]

### Select and retrieve bioactivity data for SARS coronavirus 3C-like proteinase

In [14]:
selected_target = targets.target_chembl_id[4]
selected_target

'CHEMBL3927'

Here we will retrieve only bioactivity data from SARS coronavirus 3C-like proteinase (CHEMBL3927) that are reported as $IC_{50}$ values in nM unit.

In [15]:
activity = new_client.activity
res = activity.filter(target_chembl_id = selected_target).filter(standard_type = 'IC50')

In [16]:
df = pd.DataFrame.from_dict(res)

In [18]:
df.head()

  activity_comment  activity_id  ... upper_value  value
0             None      1480935  ...        None    7.2
1             None      1480936  ...        None    9.4
2             None      1481061  ...        None   13.5
3             None      1481065  ...        None  13.11
4             None      1481066  ...        None    2.0

[5 rows x 45 columns]

In [22]:
df['standard_type'].unique()

array(['IC50'], dtype=object)

In [23]:
#Finally we save our bioactivity data to a csv file called bioactivity_data.csv

df.to_csv('bioactivity_data.csv', index = False)

## Handling of Missing Data

if any compounds has missing value for the standard value then drop it.

In [42]:
df2 = df[df['standard_value'].notna()]

In [49]:
df2.head()

  activity_comment  activity_id  ... upper_value  value
0             None      1480935  ...        None    7.2
1             None      1480936  ...        None    9.4
2             None      1481061  ...        None   13.5
3             None      1481065  ...        None  13.11
4             None      1481066  ...        None    2.0

[5 rows x 45 columns]

## Data preprocessing for the bioactivity data

The bioactivity data is in the IC50 unit. Compunds having
- standard_value < 1000 : active
- standard_value > 10000 : inactive
- 1000<=standard_value<=10000: intermediate

In [50]:
bioactivity_class = []

for i in df2['standard_value']:
  if float(i) >= 10000:
    bioactivity_class.append('Inactive')
  elif float(i) <= 1000:
    bioactivity_class.append('Active')
  else:
    bioactivity_class.append('Intermediate')

In [51]:
bioactivity_class

['Intermediate',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Intermediate',
 'Active',
 'Intermediate',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Intermediate',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Intermediate',
 'Inactive',
 'Intermediate',
 'Active',
 'Intermediate',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Intermediate',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive']

In [52]:
df2['molecule_chembl_id']

0       CHEMBL187579
1       CHEMBL188487
2       CHEMBL185698
3       CHEMBL426082
4       CHEMBL187717
           ...
128    CHEMBL2146517
129     CHEMBL187460
130     CHEMBL363535
131     CHEMBL227075
132      CHEMBL45830
Name: molecule_chembl_id, Length: 133, dtype: object

In [54]:
mol_cid = []

for i in df2['molecule_chembl_id']:
  mol_cid.append(i)

In [57]:
selection = ['molecule_chembl_id', 'canonical_smiles', 'standard_value']

In [61]:
df_sel = df2[selection]
df_sel

    molecule_chembl_id  ... standard_value
0         CHEMBL187579  ...         7200.0
1         CHEMBL188487  ...         9400.0
2         CHEMBL185698  ...        13500.0
3         CHEMBL426082  ...        13110.0
4         CHEMBL187717  ...         2000.0
..                 ...  ...            ...
128      CHEMBL2146517  ...        10600.0
129       CHEMBL187460  ...        10100.0
130       CHEMBL363535  ...        11500.0
131       CHEMBL227075  ...        10700.0
132        CHEMBL45830  ...        78900.0

[133 rows x 3 columns]

In [62]:
df3 = pd.concat([df_sel, pd.Series(bioactivity_class)],axis =1)

In [63]:
df3

    molecule_chembl_id  ...             0
0         CHEMBL187579  ...  Intermediate
1         CHEMBL188487  ...  Intermediate
2         CHEMBL185698  ...      Inactive
3         CHEMBL426082  ...      Inactive
4         CHEMBL187717  ...  Intermediate
..                 ...  ...           ...
128      CHEMBL2146517  ...      Inactive
129       CHEMBL187460  ...      Inactive
130       CHEMBL363535  ...      Inactive
131       CHEMBL227075  ...      Inactive
132        CHEMBL45830  ...      Inactive

[133 rows x 4 columns]

In [72]:
df3.rename(columns={0:'bioactivity_class'}, inplace = True)

In [73]:
df3

    molecule_chembl_id  ... bioactivity_class
0         CHEMBL187579  ...      Intermediate
1         CHEMBL188487  ...      Intermediate
2         CHEMBL185698  ...          Inactive
3         CHEMBL426082  ...          Inactive
4         CHEMBL187717  ...      Intermediate
..                 ...  ...               ...
128      CHEMBL2146517  ...          Inactive
129       CHEMBL187460  ...          Inactive
130       CHEMBL363535  ...          Inactive
131       CHEMBL227075  ...          Inactive
132        CHEMBL45830  ...          Inactive

[133 rows x 4 columns]

In [74]:
df3.to_csv('bioactivity_preprocessed_data.csv', index = False)

### Exploratory Data Analysis